 <mat-sidenav-container *ngIf="isLoggedIn$ | async"> 
    <mat-sidenav mode="side" opened>  
        <ul class="navList">
            <li> 
                <a mat-list-item class="navbar-brand" routerLink="" routerLinkActive="active">
                    <img class="img" src="../../../assets/img/square-logo.png" />
                </a>
            </li> 

            <li class="stationery" routerLink="/super-admin">Stationery
            </li>

            <li class="stReq" routerLink="/staionery-request">Stationery Request
            </li>

            <li class="logout" (click)="onLogout()">Log Out</li>
        </ul>

     </mat-sidenav>

     <mat-sidenav-content>
        <div class="container">
            <!-- <app-super-admin></app-super-admin> -->
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content> 
</mat-sidenav-container> 